<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PictureViewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*

        <ul class="navbar-nav flex-grow-1">
                           <li class="nav-item">
                               <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link text-dark" asp-area="" asp-controller="Pictures" asp-action="Index">Pictures</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                           </li>
                       </ul>
    *@
    <div> 
        @RenderBody()
    </div>
</body>
</html>
