/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    margin: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 200px;
    border: none;
}

.btn-primary:hover {
    background-color: #bee6fd;
}


*{
    font-size: 22px;
    font-family: 'Microsoft Sans Serif';
    color: #000;
}


html {
    position: relative;
    min-height: 100%;
    background: #fafafa;
}

body {
  background: transparent;
}


a {
    color: #000;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #000;
    outline: none;
    text-decoration: none;
}

.button-style a{
    color: #fff;
    height: inherit;
    width: inherit;
}

.login-title{
    margin-bottom: 12px;
}


.login-root {
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 6px;
}

.form-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 12px;
}

.login-input {
    font-size: 16px;
    width: 200px;
    height: 36px;
}

.navbar-root {
    margin-top: 2px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #dee2e6;
}

.navbar-title{
    margin-left: 10px;
    align-self: center;
}

.navbar-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar-buttons .button-style{
    padding-left: 8px !important;
    padding-right: 8px !important;
    width: unset;
}

.navbar-buttons .button-style a{
    font-size: 14px;
    vertical-align: middle;
}

.navbar-welcome {
    font-size: 14px;
    margin-right: 8px;
}

.picture-container{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.picture {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin: 10px;
}

.picture:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=1);
}

.single-picture-contaier{
    display: flex;
    flex-flow: column nowrap;
    width: 420px;
    margin: auto;
}

.single-picture {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 14px;
    margin-top: 32px;
}

.single-picture-details{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.single-picture-back {
    grid-row: 1;
    grid-column: 1;
    margin-left: 10px;
    margin-bottom: 8px;
}

.single-picture-delete {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    margin-right: 10px;
    margin-bottom: 8px;
}

.single-picture-info {
    grid-row: 2;
    grid-column: 1;
    margin-left: 12px;
}

.single-picture-uploader-info {
    grid-row: 2;
    grid-column: 2;
    justify-self: flex-end;
    margin-right: 12px;
}

.single-picture-main-text{
    
}

.single-picture-button{
    width: 100px;
}

.single-picture-description-text {
    font-size: 12px;
}

.custom-file{
    /*width: 200px !important;*/
}

.form-file{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.file-input{
    align-self: center;
}
